<div>
<table style="width: 100%">
	<tr>
		<td>
		<table style="width: 100%">
			<tr>
                <td ><center><font size="30">WSE-HI-03</font><center>
                    <center><font size="30">Software Engineering</font><center></td>
			</tr>
			<tr>
                <td><center><font size="5">Jupyter Notebook 3</font><center></td>
			</tr>
			<tr>
                <td><center><font size="10">Sequences, sets and mappings</font><center></td>
			</tr>
		</table>
		</td>
		<td><img src='figures/ihe_logo.png'></img></td>
	</tr>
</table>
</div>

# Table of contents
1. [Learning objectives](#learningobs)
2. [Introduction](#introduction)
3. [Sequences](#sequen)
    
    3.1. [Lists](#list_sequen)
    
    3.2. [Tuples](#tuple_sequen)
    
    3.3. [Generators](#generat_sequen)
    
4. [Sets](#sets_sequen)
   
 
5. [Mappings](#mappings)
    
    5.1. [Dictionaries](#dictionaries)
    
    5.2. [Enumerates](#enumerates)
    


## 1. Learning objectives<a name="learningobs"></a>

At the end of this session you will be able to:
- Define Sequences, sets and mappings in the context of Python
- Explain the difference among lists, tuples, generators, dictionaries and enumerates in Python. 
- Manipulate different types of sequences in Python
- List some possible operations that are possible to do with sequences and mappings


## 2. Introduction<a name="introduction"></a>

In the previous Notebook we learnt that Python has several bult-in data types, and we studied Numbers (Integers, Floating point, Complex), Strings and Booleans. In this Notebook, we will look at more sophisticated data types, namely:

- Sequences (Lists, Tuples, Generators)
- Sets (Sets, Frozen sets)
- Mappings (Dictionaries, Enumerate)

In the next Notebook we will see Arrays, as well as additional types that exist for different libraries.

# 3. Sequences<a name="sequen"></a>
Sequence is a generic term to refer to an ordered set.


## 3.1. Lists<a name="list_sequen"></a>
A list is a vector of elements separated by commas, within brackets. For example, a 3-element list whose first, second and third elements are `8`, `12` and `20` respectively, can be stored in a list called `a` as follows: 

    a = [8 ,12, 20]

Note that spaces before and after the commas are ignored.


In order to get the $i^{th}$ element of `a` ($i$ is also called <b>index</b>), the expression `a[i]` can be used. So:

- `a[0]` will return `8`
- `a[2]` will return `20`

Note that the first element of the list is accessed using the index `0`, not `1`.

Interestingly, `a[-1]` will also return `20`. In fact, the index `-1` will always return the last element of a list, the index `-2` will always return the element before the last, and so on. In other words, negative indexes allow to access the elements in a list from right to left, starting from `-1`.

### Action 
Create in the cell below a list called `v` with the following elements: `2, 4, 6, 8, 10`. What elements of `v` are retrieved when using the indexes `0`, `3`, `-1` and `-6`?

In [ ]:
# Type your code here
v = [2,4,6,8,10]

In [ ]:
v[0]

In [ ]:
v[3]

In [ ]:
v[-1]

In [ ]:
v[-6]

The `IndexError: list index out of range` is a very common error. Add a Markdown cell below and explain there when does this error happen.

### Explanation  
The shown error **List Index Out of Range** is because we are trying to index / slice the 6th varible from behind whereeas there are only 5 variables inside the list

<b>Note: </b>Lists can also accept combinations of data types. For example, the list below contains an integer (`2021`) and four strings (`'HI', 'CEPD', 'HWR', 'HERBD'`):

    msc_list = [2021, 'HI', 'CEPD', 'HWR', 'HERBD']

Therefore, `msc_list[0]` will return `2021` and `msc_list[1]` will return `'HI'`


<b>Note:</b> We can also use the index to change an element of a list. For instance:

    msc_list[0] = 2019

will update the first element from `2021` to `2019`. Try the above expressions in the cell below.

In [ ]:
# Type your code here
msc_list = [2021, 'HI', 'CEPD', 'HWR', 'HERBD']
msc_list[0] = 2019

In [ ]:
msc_list

### Some possible operations in lists

Lists support certain operations or <i>methods</i> that control their behaviour (we shall see methods in detail later in the course). Some examples are:

`list.append(x)`: Adds an element at the end of the list.

`list.insert(i, x)`: Inserts the element `x` at a given index `i`. For example, `a.insert(0, x)` inserts `x` at the beginning of the list. Note that `a.insert(len(a), x)` is equivalent to `a.append(x)`, as the command `len` returns the number of elements in a list.

`list.remove(x)`: Removes the first element of a list whose value is equal to `x`. It raises a `ValueError` if such element does not exist in the list.

`list.pop(i)`: Removes the element at position `i`.

`list.clear()`: Removes all the elements of the list. The list will still exist, but empty. Equivalent to `del a[:]`.

`list.count(x)`: Returns the number of times `x` appears in the list.

`list.sort(reverse=False)`: Sorts a list with numerical elements from the smallest to the biggest value. Use `reverse=True` to sort the list the other way around.

`list.reverse()`: Reverses the elements of the list.

`list.copy()`: Returns a <i>shallow</i> copy of the list. Equivalent to `a[:]`.

The complete documentation of the lists can be found [here](https://docs.python.org/3/tutorial/datastructures.html) 

### Action

Create two lists with the following elements

    a = ['a', 1, 3, 30, 2, '5', sum]
    b = [1, 10, 50, 2, 40]

- Apply to both lists the methods mentioned above, and describe what happens in each case.

**Variable A**

In [79]:
a = ['a', 1, 3, 30, 2, '5', sum]

In [80]:
a.count('a')

1

In [81]:
a.append('x')
print(a)

['a', 1, 3, 30, 2, '5', <built-in function sum>, 'x']

In [82]:
a.insert(0, 'L')
print(a)

['L', 'a', 1, 3, 30, 2, '5', <built-in function sum>, 'x']

In [83]:
a.remove(sum)
print(a)

['L', 'a', 1, 3, 30, 2, '5', 'x']

In [84]:
a.pop(1)
print(a)

['L', 1, 3, 30, 2, '5', 'x']

In [88]:
a.sort(reverse=False)
print(a)

a.sort(reverse=True)
print(a)

TypeError: '<' not supported between instances of 'int' and 'str'

**Catatan:** List yang berisikan tipe data yang terdiri dari integer dan string tidak dapat diurutkan.

In [89]:
a.copy()

['L', 1, 3, 30, 2, '5', 'x']

**Variable B**

In [90]:
# Type your code here
b = [1, 10, 50, 2, 40, 40]
print(b)

[1, 10, 50, 2, 40, 40]

In [91]:
b.count(40)

2

In [92]:
b.append(9)
print(b)

[1, 10, 50, 2, 40, 40, 9]

In [93]:
b.insert(2,4)
print(b)

[1, 10, 4, 50, 2, 40, 40, 9]

In [94]:
b.remove(40)
print(b)

[1, 10, 4, 50, 2, 40, 9]

In [95]:
b.pop(3)
print(b)

[1, 10, 4, 2, 40, 9]

In [96]:
b.sort(reverse=True)
print(b)

b.sort(reverse=False)
print(b)

[40, 10, 9, 4, 2, 1]
[1, 2, 4, 9, 10, 40]

In [101]:
b.copy()

[1, 2, 4, 9, 10, 40]

### Assignment: 
The `list.copy` method makes a <i>shallow</i> copy of a list. Investigate what does this mean. Write your answer in the cell below.

In [100]:
a,b

(['L', 1, 3, 30, 2, '5', 'x'], [1, 2, 4, 9, 10, 40])

___
<i>Type your answer below (remember to double-click this cell in order to make it editable. Press Ctrl+Enter when you finish.</i>

...

___

## 3.2 Tuples<a name="tuple_sequen"></a>

Tuples are like lists, but: 

- Tuples cannot be modified, i.e., they are <i>immutable</i>
- Tuples are defined using parentheses `()`, not square brackets `[]`

The fact that tuples are immutable makes them very efficient for iterations.

A Tuple can be created using comma-separated elements. For example:

    tup1 = "a", "b", "c", "d";

Alternatively, the comma-separated values can go within round brackets, for example: 

    tup2 = ('physics', 'chemistry', 1997, 2000);
    tup3 = (1, 2, 3, 4, 5 );
    
This last formulation is preferred, as it is easier to read.

Let’s build the tuple variable `msc_list_2`, based on the list you made above. Just use round brackets instead of the 
squared ones to create the tuple:

    msc_list_2 = (2019, 'HI', 'CEPD', 'HWR', 'HERBD')

As in the case of the list, `msc_list_2[0]` will retrieve `2019` and `msc_list_2[1]` will retrieve `'HI'`. However,

    msc_list_2[0] = 2018
    
will generate an error because we are trying to change a value in the tuple. The generated error is a `type error`, because the assignment command is not supported by the tuple type variable.

However, it is possible that the tuples contain <i>mutable</i> elements. For example, an element in a tuple can be a list, and this list can be mutable. Therefore, the following is possible (run the cell and observe the outputs):

In [124]:
    a = ([1,2,3], 4, 5)
    print(a[0])     #The first element of the tuple (which is a list)
    a[0][1] = 10    #The second element of the list (index 1) that is contained in the first element of the tuple  
    print(a)

[1, 2, 3]
([1, 10, 3], 4, 5)

<b> Note </b> When constructing tuples with one element, a comma after the first element is required. Otherwise, the interpreter will think that the variable is assigned to the type of such element. It is a good practice to do this also for lists, although this is not mandatory. For example:

    a = [1, ]  # This creates a list of one element. The comma is not mandatory
    a = [1]    # This is equivalent to the line above
    
    b = (1)    # This creates an 'int' value
    b = (1, )  # This creates a tuple with the value of 1 as its first element

Try the expressions above in the cell below, run it and observe its outputs. Use the `type` function to support your understanding.

### Contoh Penggunaan Tuple Dengan Menggunakan Integer

In [149]:
# Type your code here:
x = (1,2,3,4,5)
type(x)

tuple

In [150]:
len(x)

5

In [151]:
max(x)

5

In [152]:
min(x)

1

In [136]:
x = list(x)
type(x)

list

In [135]:
print(x)

[1, 2, 3, 4, 5]

In [138]:
x[3]=5
print(x)

[1, 2, 3, 5, 5]

In [140]:
x = tuple(x)
type(x)

tuple

### Contoh Penggunaaan Tuple Dengan Menggunakan String

In [141]:
y = ('apple' , 'orange' , 'melon', 'durian' , 'rambutan')
type(y)

tuple

In [142]:
len(y)

5

In [143]:
min(y)

'apple'

In [144]:
max(y)

'rambutan'

In [154]:
y = list(y)
type(y)

list

In [155]:
print(y)

['apple', 'orange', 'melon', 'durian', 'rambutan']

In [156]:
y[2] = 'banana'
print(y)

['apple', 'orange', 'banana', 'durian', 'rambutan']

In [159]:
y = tuple(y)
type(y)

tuple

### Some possible operations with tuples
`len(tuple)`: Gives the total length of the tuple.

`max(tuple)`: Returns item from the tuple with max value.

`min(tuple)`: Returns item from the tuple with min value.

`tuple(seq)`: Converts a list into a tuple.

### Action

In the cell below, create a tuple and apply to it the operations mentioned above.

In [ ]:
# Type your code here:

## 3.3 Generators<a name="generat_sequen"></a>

Generators are immutable sequences that create elements to be used in iterations, without storing the full sequence and therefore avoiding the use of excessive space in memory. Due to its efficiency, generators are used to create <i>collections</i> of 'counters' for iterations.

The generated values are only retrieved 'on demand' (some call this 'lazy evaluation'). Furthermore, it is not necessary to wait until all the elements are generated to start using them.

### The range function
The most common generator is the `range` function. It is used, for example, to create iterators of integer numbers. For example, if we want to create an iterator for the integers between `0` and `10` (without including the `10`), we will use:

    range(10)

It is also possible to have a starting number different from 0. To do so, it should be passed as first argument. For example `range(2,10)` will create a generator that spans from `2` to `10` (exclusive). i.e., `2, 3, 4, 5, 7, 8, 9`.

It is also possible to define the step that the iterator will use by adding a third argument. For example, if we want to create a sequence from `5` to `30` (exclusive) with a step of `5`, we use `range(5, 30, 5)`, and the output will be `5, 10, 15, 20, 25`.

<b>Note: </b>Keep in mind that generators deliver values on the go, so it is not possible to access their value or position in memory as we do with lists. Instead, it is only possible to access its <i>current</i> value. For this reason, no output is shown when we try to `print` a generator variable, unless we use a loop (we shall see `loops` later in the course).

### Action

Create, in the cell below, a sequence of integers from 20 to 30 (inclusive) with a step of 2. How many values will be generated?

In [163]:
# Type your code here
range(5, 30, 5)

range(5, 30, 5)

# 4 Sets <a name="sets_sequen"></a>

A set is basically a sequence that has no particular order, and has no duplicate elements. We can create a set of elements from strings (recall that a string is a sequence of characters):

    a = set('Is this the real life?')
    b = set('Is this just fantasy?')
    c = {'1', '2', 'a', 'Pirates'}

Sets can be created with curly brackets `{}` or with the `set()` function. 

<b>Notes</b>: 

- To create an empty set you have to use set(), not {}.
- As sets do not have ordered elemenbts, they do not support <i>indexation</i>. So, for the example above, the expression `a[0]` does not make sense.

Try some sets in the cell below:

In [164]:
#Type your code here
a = set('Is this the real life?')

### Some possible operations with Sets

The `add()` method adds the specified element to the set. E.g., `set1.add(a_new_element)`

The `remove()` method removes the specified element from the set. E.g., `set1.remove(element_to_remove)`

The `union()` method returns a set that contains all items from both sets, excluding duplicates. E,g, `set1.union(set2)`

The `intersection()` method returns a set that contains only items that exist in both sets (or more). E.g., `set1.intersection(set2)`

The `difference()` method returns a set that contains items that exist only in the first set, and not in both sets. E.g., `set2.difference(set1)`


### Action
In the cell below, do the following:

- Create a set `set1` that contains the elements `'a','b','c','d','e'`
- Create another set `set2` that contains the elements `'d','e','f','g','h'`
- Find the union and intersection between both sets.
- Find the difference between `set2` and `set1`
- Add the element `'f'` to `set1`
- Remove the element `'a'` from `set2`

In [165]:
#Type your code here
set1 = set()

In [167]:
set1.add('a')
set1

{'a'}

In [169]:
set1.add('b')
set1

{'a', 'b'}

In [171]:
set1.add('c')
set1

{'a', 'b', 'c'}

In [172]:
set1.add('d')
set1

{'a', 'b', 'c', 'd'}

In [173]:
set1.add('e')
set1

{'a', 'b', 'c', 'd', 'e'}

In [175]:
set2 = set()

In [176]:
set2.add('d')
set2

{'d'}

In [177]:
set2.add('e')
set2

{'d', 'e'}

In [178]:
set2.add('f')
set2

{'d', 'e', 'f'}

In [179]:
set2.add('g')
set2

{'d', 'e', 'f', 'g'}

In [180]:
set2.add('h')
set2

{'d', 'e', 'f', 'g', 'h'}

In [181]:
set1.union(set2)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}

In [182]:
set1.intersection(set2)

{'d', 'e'}

In [183]:
set2.difference(set1)

{'f', 'g', 'h'}

In [187]:
set1

{'a', 'b', 'c', 'd', 'e'}

In [188]:
set2

{'d', 'e', 'f', 'g', 'h'}

One important feature of sets is that they do not allow the use of mutable elements. Therefore, a set cannot contain elements such as lists. As an example, the following line will raise a type error:

    set([[1,2,3], 4,5])
    
To avoid this behaviour, we can pass inmutable sequences instead of mutable ones. In this particular case, we can fix this issue by:
    
    set([(1,2,3), 4,5])
    
### Action

Try below both of the previous statements and understand the behaviour of this property.

In [192]:
# Write your code here!
set3 = set([(1,2,3), 4,5])
set3

{(1, 2, 3), 4, 5}

# 5 Mappings <a name="mappings"></a>

A <i>mapping</i> is a data type in which the position of the elements can be identified using a <i>key</i>. Lists can be understood as a particular type of mapping where the <i>key</i> is a sequence of integers (the indexes). We can think of a mapping as a sort of table, in which each row has an identifier assigned.

For example a mapping called `map` in which the elements `1` to `4` are identified by their corresponding name in words, can be conceptualised as a table like the one below:
![](figures\\mapping.png)

## 5.1 Dictionaries<a name="dictionaries"></a>

A dictionary is a type of mapping in which the keys are either strings or tuples. 

In practice, only strings are used to create keys. To define a dictionary, pairs of `values` and `keys` are needed. We can build a dictionary in two ways: either as a "keyed set", or using the `dict` command. These two methods are presented below to start building a dictionary that represents the table above: 

Way 1: using the "keyed construction".

    f = {'one': 1, 'two': 2}
    
Way 2: using the `dict` command:
    
    f = dict(one=1, two=2)
    
In both examples, the keys are the labels `'one'` and `'two'`.

### Action

In the cell below, make a dictionary with keys `name` and `last_name`, and fill it up with your own values. Try both methods.

In [ ]:
#Type here your code!
f = {'name':'Axel' , 'last_name':'Hutomo'}

f = dict(name='Axel', last_name='Hutomo')

f

### Some possible operations with Dictionaries

Dictionaries have several useful <i>methods</i>, including:

- `dict.keys()` Returns a view of the keys in the dictionary
- `dict.values()` Returns a view of the values in the dictionary
- `dict.items()` Returns a view of the key-value pairs in the dictionary

<b>Note</b> The outcome of these methods are <i>generators</i>.

To access the elements of a dictionary, we use square brackets. Therefore, to access the value of the key `'one'` of the dictionary `f` above, we use:

    f['one']
whose output is `1`.

#### Action

- Make a dictionary with your personal data (does not have to be real) which include your name, last name, telephone number, favourite colour and a list of your lucky numbers (at least 3)
- Retrieve the name that you saved in the dictionary
- Retrieve your second lucky number

In [ ]:
id_1 = {'name':'Ignasius Axel' , 'last_name':'Hutomo' , 'telephone number':'6281239396644' , 'favourite colour':'black' , 'lucky_numbers':[7,21,12,95]}

In [ ]:
id_1['name']

In [ ]:
id_1['last_name']

In [ ]:
id_1['lucky_numbers'][1]

## 5.2. Enumerates<a name="enumerates"></a>

Enumerates are a type of mapping that allow generating a numerical sequence that maps the position of the iterable element that was used to create it. In other words, an enumerate adds an index to an element to be iterated.

As an example, we can have the string (which is an iterable):

    a = 'Open your eyes'
    
We can generate an enumerate to define the position of each element as:
    
    enumerate(a)
    
Check this in the cell below. Note that in order to see all pairs, an <i>iteration</i> is needed. In this case, a `for` loop (we shall see loops later in the course).

In [111]:
a = 'Open your eyes'
b = [print(i) for i in enumerate(a)]

(0, 'O')
(1, 'p')
(2, 'e')
(3, 'n')
(4, ' ')
(5, 'y')
(6, 'o')
(7, 'u')
(8, 'r')
(9, ' ')
(10, 'e')
(11, 'y')
(12, 'e')
(13, 's')

In [115]:
a = [0]

In [118]:
type(a)

list