# TUTORIAL 8

## Strings tidak bisa digantikan isi datanya (Immutable)

In [1]:
var1 = [1,2,3,4,5]

In [2]:
var1 [1] = 100

In [3]:
var1

[1, 100, 3, 4, 5]

In [4]:
nama1 = 'Bambang'

In [6]:
nama1 [4] = 'z'

TypeError: 'str' object does not support item assignment

In [8]:
nama1 + ' Lukito'

'Bambang Lukito'

In [9]:
Nama_Lengkap = nama1 + ' Suyoto'

In [10]:
Nama_Lengkap

'Bambang Suyoto'

In [11]:
nama1*2

'BambangBambang'

In [15]:
nama1 + ' sedang belanja di pasar'

'Bambang sedang belanja di pasar'

In [16]:
nama1 + ' sedang belanja di pasar' * 2

'Bambang sedang belanja di pasar sedang belanja di pasar'

In [17]:
nama1 = nama1 + ' sedang menjalani proses pendidikan Python'

In [18]:
nama1

'Bambang sedang menjalani proses pendidikan Python'

## Penggunaan Method di Python

In [33]:
var1 = 'Makanan sehat itu adalah 4 sehat 5 sempurna'

In [34]:
type(var1)

str

In [20]:
var1

'Makanan sehat itu adalah 4 sehat 5 sempurna'

In [22]:
var1.upper()

'MAKANAN SEHAT ITU ADALAH 4 SEHAT 5 SEMPURNA'

In [26]:
var1

'MAKANAN SEHAT ITU ADALAH 4 SEHAT 5 SEMPURNA'

Penggunaan method (*ex: .upper()*) **tidak merubah kondisi variabel awal** (var1). Jika ingin merubah variabel awal secara sepenuhnya maka var1 harus didefinisikan kembali denggan menggunakan method (*ex: .upper()*) seperti dibawah ini:

In [24]:
var1 = var1.upper()

In [25]:
var1

'MAKANAN SEHAT ITU ADALAH 4 SEHAT 5 SEMPURNA'

In [31]:
var1.split ( )

['MAKANAN', 'SEHAT', 'ITU', 'ADALAH', '4', 'SEHAT', '5', 'SEMPURNA']

Method **.split ( )** digunakan untuk **memisahkan string berdasarkan kata per kata atau per spasi pada suatu kalimat**. Metode ini kerap kali digunakan pada **NLP** atau Natural Language Processing seperti pada sistem Google Translate ataupun Alexa.

In [28]:
var1.split ('A')

['M', 'K', 'N', 'N SEH', 'T ITU ', 'D', 'L', 'H 4 SEH', 'T 5 SEMPURN', '']

Method **.split ('A')** adalah contoh untuk **memisahkan string berdasarkan batasan huruf ('A') pada suatu kalimat**. Karakter **spasi** dihitung dan termasuk pada kalimat seperti pada potongan kata **N SEH**.

In [35]:
var2 = [1,2,3,4,5]

In [36]:
type(var2)

list

## Penggunaan Print dan Formatting di Python

In [37]:
var1 = 'Ayam goreng KFC dan McD mana yang lebih enak?'

In [38]:
print(var1)

Ayam goreng KFC dan McD mana yang lebih enak?

In [39]:
var1

'Ayam goreng KFC dan McD mana yang lebih enak?'

In [41]:
print('Ini ada {} buah apel'.format('10'))

Ini ada 10 buah apel

In [43]:
print('Urutan pemenang lomba lari adalah {} {} {}'.format('Aji','Bambang','Budi'))

Urutan pemenang lomba lari adalah Aji Bambang Budi

In [46]:
print('Urutan pemenang lomba lari adalah {2} {0} {1}'.format('Aji','Bambang','Budi'))

Urutan pemenang lomba lari adalah Budi Aji Bambang

In [47]:
print('Urutan pemenang lomba lari adalah {a} {c} {b}'.format(c='Aji',b='Bambang',a='Budi'))

Urutan pemenang lomba lari adalah Budi Aji Bambang

Contoh **In [43], [44] dan [45]** di atas adalah contoh dari penggunaan formating pada print, dimana kita bisa **menggunakan urutan indexing** untuk menampilkan urutan yang kita harapkan.

### Penerapan pada aritmatika {nilai:lebar.tingkat_presisi f}

In [49]:
phi = 22/7

In [50]:
phi

3.142857142857143

In [55]:
luas1 = 667.945

In [56]:
luas2 = 998.735

In [57]:
print('Luas tanah yang dimiliki oleh Pak Budi adalah sebesar {a} dan {b} m2' .format (a=luas1, b=luas2))

Luas tanah yang dimiliki oleh Pak Budi adalah sebesar 667.945 dan 998.735 m2

In [64]:
print('Luas tanah yang dimiliki oleh Pak Budi adalah sebesar {a:15.2f} dan {b:0.3f} m2' .format (a=luas1, b=luas2))

Luas tanah yang dimiliki oleh Pak Budi adalah sebesar          667.95 dan 998.735 m2