# Tutorial 9

In [ ]:
keranjang = [1,2.3, 'Apel']

In [ ]:
type(keranjang)

In [ ]:
len(keranjang)

fungsi **len()** mengindikasikan jumlah indeks variabel dalam satu matriks atau satu list dan berguna dalam looping.

In [ ]:
for i in range(len(keranjang)):
    print(keranjang[i])

In [ ]:
for i in range(0,3):
    print(keranjang[i])

In [ ]:
keranjang

In [ ]:
keranjang[1] = 'Mangga'

In [ ]:
keranjang

Cara **menambahkan kolom atau variabel pada list** bisa dengan menggunakan **cara manual** seperti dibawah ini. **Atau** bisa menggunakan methods **.append**, namun **methods tersebut hanya bisa digunakan untuk menambah 1 kolom saja**, jika ingin menambahkan lebih dari 1 maka menggunakan cara manual.

In [ ]:
jeruk = ['jeruk']

In [ ]:
keranjang = keranjang + jeruk

In [ ]:
keranjang

In [ ]:
keranjang.append('Pisang')

In [ ]:
keranjang

In [ ]:
buah_lagi = ['Anggur','Nanas','Durian','Mengkudu']

In [ ]:
keranjang = keranjang + buah_lagi

In [ ]:
keranjang

In [ ]:
len(keranjang)

Cara **menghilangkan variabel atau kolom pada suatu list** atau matriks bisa dengan menggunakan methods **.pop()**. Methods tersebut **( ) jika tidak diisi, mengindikasikan dan menghapus variabel terakhir yang terdapat pada suatu matriks.**

In [ ]:
baru = [1,2,3,4,5,6]

In [ ]:
baru

In [ ]:
baru.pop()

In [ ]:
baru

In [ ]:
baru.pop(1)

In [ ]:
baru

In [ ]:
baru_lagi = baru.pop()

In [ ]:
baru_lagi

Cara **mengurutkan variabel atau kolom secara accending** pada suatu list yang berisikan tipe data string atau integer dapat menggunakan methods **.sort()**

In [8]:
var_1 = [1,2,5,7,4,9]

In [9]:
var_1.sort()

In [10]:
var_1

[1, 2, 4, 5, 7, 9]

In [30]:
var_2 = ['a','h','c','b','e','z']

In [31]:
var_2.sort()

In [32]:
var_2

['a', 'b', 'c', 'e', 'h', 'z']

In [15]:
var_3 = ['b','d','z','l', 5, 3, 1, 7]

In [16]:
var_3.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

pada **var_3** di atas, python tidak dapat mengurutkan list yang terdiri dari integer dan string

In [34]:
var_4 = ['Bambang', 'Budi', 'Anton', 'Zakir']

In [36]:
var_4.sort()

In [38]:
var_4

['Anton', 'Bambang', 'Budi', 'Zakir']

In [45]:
var_5 = [0.4 , 0.02, 0.03, 99]

In [47]:
var_5.sort()

In [48]:
var_5

[0.02, 0.03, 0.4, 99]

Cara **mengurutkan variabel atau kolom secara deccending** pada suatu list yang berisikan tipe data string atau integer dapat menggunakan methods **.reverse()**

In [49]:
var_6 = [1,2,5,7,4,9]

In [50]:
var_6.reverse()

In [51]:
var_6

[9, 4, 7, 5, 2, 1]

In [52]:
var_7 = ['a','h','c','b','e','z']

In [53]:
var_7.reverse()

In [54]:
var_7

['z', 'e', 'b', 'c', 'h', 'a']

In [55]:
var_8 = ['Bambang', 'Budi', 'Anton', 'Zakir']

In [56]:
var_8.reverse()

In [57]:
var_8

['Zakir', 'Anton', 'Budi', 'Bambang']

In [58]:
var_9 = [0.4 , 0.02, 0.03, 99]

In [59]:
var_9.reverse()

In [60]:
var_9

[99, 0.03, 0.02, 0.4]

## Cara Menggunakan Nested List dalam Python

**Nested List** adalah bentuk list yang terdapat di dalam list. Dimana Untuk **Slicing** data **Nested List** menggunakan kurung dalam kurung seperti di bawah ini.

In [61]:
isi = [1,2,3,[11,12,13,[14,15,16]]]

In [62]:
isi[2]

3

In [64]:
isi[3]

[11, 12, 13, [14, 15, 16]]

In [65]:
isi[3][1]

12

In [67]:
isi[3][3][2]

16

Penulisan list bisa juga dengan menggunakan **Kurung Biasa ( )** seperti di bawah ini.

In [77]:
var_10 = list()

In [78]:
type(var_10)

list

In [82]:
var_11 = []

In [83]:
type(var_11)

list

In [84]:
if var_10 == var_11: 
    print('Ternyata var_10 sama dengan var_11')
else:     
     print('Ternyata var_10 tidak sama dengan var_11')

Ternyata var_10 sama dengan var_11

Apabila bentuk dari list adalah **string** maka Python akan **membagi karakter dari tiap string tersebut menjadi tiap variabel**.

In [85]:
baru = list('Saya senang belajar Python')

In [86]:
baru

['S',
 'a',
 'y',
 'a',
 ' ',
 's',
 'e',
 'n',
 'a',
 'n',
 'g',
 ' ',
 'b',
 'e',
 'l',
 'a',
 'j',
 'a',
 'r',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n']