# Tutorial 14
## Penggunaan Advanced for Loops di Python

### Penggunaan Range pada Python

In [1]:
for i in range (0,10): 
    print (i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range (1,20,3):
    print (i)

1
4
7
10
13
16
19

In [3]:
angka = list (range(1,11))

In [4]:
angka

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Penggunaan Enumerate pada Python

In [5]:
indeks = 0
for i in 'abcdefghij':
    print('kaakter {} berada di indeks ke- {}' .format(i,indeks))
    indeks += 1

kaakter a berada di indeks ke- 0
kaakter b berada di indeks ke- 1
kaakter c berada di indeks ke- 2
kaakter d berada di indeks ke- 3
kaakter e berada di indeks ke- 4
kaakter f berada di indeks ke- 5
kaakter g berada di indeks ke- 6
kaakter h berada di indeks ke- 7
kaakter i berada di indeks ke- 8
kaakter j berada di indeks ke- 9

Contoh di atas adalah contoh iterasi yang dilakukan secara manual, dengan menggunakan fungsi **enumerate** kita dapat melakukan **perintah yang serupa dengan cara yang lebih efisien**. Tata cara penulisannya dalam Pyhton adalah sebagai berikut.

In [6]:
kata = 'abcdefghij'

In [7]:
for i in enumerate(kata): 
    print (i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'i')
(9, 'j')

In [8]:
for a,b in enumerate(kata):
    print (a)
    print (b)

0
a
1
b
2
c
3
d
4
e
5
f
6
g
7
h
8
i
9
j

### Cara Penggunaan Zip pada Python

Fungsi **Zipp** pada Python ditulisan sebagai **zip()** dimana fungsi ini digunakan untuk menggabungkan 2 buah atau lebih list. Dimana contoh aplikasinya ditunjukan sebagai berikut.

In [9]:
list1 = [1,2,3,4,5]

In [10]:
list2 = ['a','b','c','d','e']

In [11]:
for i in zip(list1,list2): 
    print (i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

### Cara Penggunaan Item Checking pada Python

In [12]:
'aku belajar'

'aku belajar'

In [13]:
'v' in 'aku belajar'

False

In [14]:
'a' in 'aku belajar'

True

Contoh item checking pada **dictionary**. Pada tipe data dictionary, **item checking hanya bekerja pada kolom headnya saja, yaitu 'a', 'b', dan 'c'.** Jika ingin **mengecheck values**, maka harus **ditambahkan method .values**

In [15]:
kotak1 = {'a':100 , 'b':200 , 'c':300}

In [16]:
type(kotak1)

dict

In [17]:
'b' in kotak1

True

In [18]:
100 in kotak1

False

In [19]:
100 in kotak1.values()

True

## Penggunaan Advanced for Loops pada Python

In [23]:
isi = list(range(1,11))
print(isi)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
isi2 = [i for i in range(1,11)]
print(isi2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Pembacaan dari variabel isi2 di atas adalah **variabel isi2 diisikan dengan item baru yang berada pada rentang 1-11**. Kelebihan dari cara ini adalah **kita bisa menambahkan fungsi aritmatika pada i bagian awal**. Sebagai contoh pada berikut

In [27]:
isi3 = [(i+2) for i in range(1,11)]
print(isi3)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [31]:
import numpy as np 
isi4 = [(np.sqrt(i**4)+1) for i in range(1,11)]
print (isi4)

[2.0, 5.0, 10.0, 17.0, 26.0, 37.0, 50.0, 65.0, 82.0, 101.0]

In [32]:
isi5 = [i for i in range(1,11) if i%2 != 0]
print(isi5)

[1, 3, 5, 7, 9]